<!DOCTYPE>
<html>
<head>
</head>
<body>
	<link rel='stylesheet' href='application.css' type='text/css' />
	<h1 id="headline">Let's get ready to Hashtag!</h1>

	<form action='/twitter' method='post'>
		Choose which #'s you want to fight:<br>
		<input id="first" type="text" name="first_hash" placeholder="#red_corner">
		<input id="second" type="text" name="second_hash" placeholder="#blue_corner"><br>
		<button id="submit">Fight!</button>
	</form>
</body>
</html>